header {
  font-size: 40px;
  font-weight: 700;
  color: bisque;
  background-color: black;

  z-index: 1;
  top: 0px;
  outline: none;
}

body {
  background-color: black;
  margin-bottom: 600px;
  

}

#xx{
  background-color: #fff;
  height: 150px;
  width: 500px;
  top: 4000px;
}

canvas {
  position: relative;
  top:200;
  left:0;
  width: 1500px;
  height: 400px;
  z-index: 5;
  opacity:1;
  background-color: #bbb;
  margin-top: 80px;

  
  }
#jv{
  height: 300px;
  aspect-ratio: 1;
}


#xxx{

  height: 100px;
  width: 1000px;
  aspect-ratio: 1;
}

.fimg,
.gimg,
.aimg,
.bimg,
.cimg,
.dimg,
.eimg {
  width: 30px;
  object-fit: fill;
  height: fit-content;
  margin-left: 30px;
  transition: transform 0.2s;
  margin-top: 16px;
  filter: brightness(150%);
  background: none;

}


.fimg:hover,
.aimg:hover,
.bimg:hover,
.cimg:hover,
.dimg:hover,
.eimg:hover,
.gimg:hover {
  transform: scale(1.5);
  filter: brightness(150%);
  filter: drop-shadow(0 0 2px rgb(253, 252, 252));
  z-index: 12000;
  animation: glow 5s infinite;
  animation: rotate .3s ease-in-out;
 

}

 
@keyframes glow { 
  0% {
    filter: drop-shadow(0 0 2px white);
  }

  100% {
    filter: drop-shadow(0 0 6px white);
  }

}
@keyframes rotate {
  0% {
      transform: rotate(0deg) 
  }

  100% {
      transform: rotate(359deg) 
  }
}







.fbutton,
.abutton,
.bbutton,
.cbutton,
.dbutton,
.ebutton,
.gbutton {
  position: relative;
  background: none;
  border-width: 0;
}


.flip-card {
  background-color: transparent;
  width: 350px;
  height: 350px;
  perspective: 1000px;
  border-radius: 50%;
}

.flip-card-inner {
  position: relative;
  
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 50%;
}


.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}


.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  backface-visibility: hidden;
}


.flip-card-front {
  background-color: #bbb;
  color: black;
  border-radius: 50%;
}

.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
  border-radius: 50%;
}

.abutton .tooltip,
.bbutton .tooltip,
.cbutton .tooltip,
.dbutton .tooltip,
.ebutton .tooltip,
.fbutton .tooltip,
.gbutton .tooltip {

  position: absolute;
  background-color: lightgray;
  color: black;
  border-radius: 3px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  bottom: -40px;
  opacity: 0;
  transition: opacity alternate 1.5s;
  pointer-events: none;
  white-space: nowrap;
  margin-top: 90px;
  font-weight: 800;
  z-index: 10000;
}

.gbutton:hover .tooltip {
  opacity: 1;
}

.fbutton:hover .tooltip {
  opacity: 1;
}

.abutton:hover .tooltip,
.bbutton:hover .tooltip,
.cbutton:hover .tooltip,
.dbutton:hover .tooltip,
.ebutton:hover .tooltip {
  opacity: 1;
}

.gimg {
  height: 70px;
  width: 65px;
}

.fimg  {
  height: 70px;
  width: 70px;
  outline: none;
}

.aimg,
.bimg,
.cimg,
.dimg,
.eimg {
  height: 70;
  width: 70px;
  background: transparent;

}

.logo {
  height: 55px;
  border-radius: 50%;
  width: 65px;
  border-width: 2px;
  border-color: azure;
  cursor: pointer;
  padding-top: 10px;
  padding-left: 20px;
}

header {
  height: 70px;
  background-color: black;
  width: 100%;
  display: flex;
  top: 0px;
  left: 0px;
  justify-content: space-between;
  right: 0px;
  align-items: center;
  z-index: 100;
  position: fixed;
  outline: none;

}



.tech:has(.bimg:hover) .aimg ,
.tech:has(.bimg:hover) .cimg ,
.tech:has(.bimg:hover) .eimg ,
.tech:has(.bimg:hover) .gimg ,
.tech:has(.bimg:hover) .dimg ,
.tech:has(.bimg:hover) .fimg{
  opacity: 0.4;
  transform: scale(0.8); 
  filter: blur(2px);
}


.tech:has(.cimg:hover) .bimg ,
.tech:has(.cimg:hover) .aimg ,
.tech:has(.cimg:hover) .eimg ,
.tech:has(.cimg:hover) .gimg ,
.tech:has(.cimg:hover) .dimg ,
.tech:has(.cimg:hover) .fimg{
  opacity: 0.4;
  transform: scale(0.8); 
  filter: blur(2px);
}


.tech:has(.dimg:hover) .bimg ,
.tech:has(.dimg:hover) .cimg ,
.tech:has(.dimg:hover) .eimg ,
.tech:has(.dimg:hover) .gimg ,
.tech:has(.dimg:hover) .aimg ,
.tech:has(.dimg:hover) .fimg{
  opacity: 0.4;
  transform: scale(0.8); 
  filter: blur(2px);
}


.tech:has(.eimg:hover) .bimg ,
.tech:has(.eimg:hover) .cimg ,
.tech:has(.eimg:hover) .aimg ,
.tech:has(.eimg:hover) .gimg ,
.tech:has(.eimg:hover) .dimg ,
.tech:has(.eimg:hover) .fimg{
  opacity: 0.4;
  transform: scale(0.8); 
  filter: blur(2px);
}


.tech:has(.fimg:hover) .bimg ,
.tech:has(.fimg:hover) .cimg ,
.tech:has(.fimg:hover) .aimg ,
.tech:has(.fimg:hover) .gimg ,
.tech:has(.fimg:hover) .dimg ,
.tech:has(.fimg:hover) .eimg{
  opacity: 0.4;
  transform: scale(0.8); 
  filter: blur(2px);
}


.tech:has(.gimg:hover) .bimg ,
.tech:has(.gimg:hover) .cimg ,
.tech:has(.gimg:hover) .eimg ,
.tech:has(.gimg:hover) .aimg ,
.tech:has(.gimg:hover) .dimg ,
.tech:has(.gimg:hover) .fimg{
  opacity: 0.4;
  transform: scale(0.8); 
  filter: blur(2px);
}

.gimg:hover ~ .okayy {
  /* Change parent styles when any .child is hovered over */
  background-color: pink;
}








.tech:has(.aimg:hover) .dimg ,
.tech:has(.aimg:hover) .bimg ,
.tech:has(.aimg:hover) .cimg ,
.tech:has(.aimg:hover) .eimg ,
.tech:has(.aimg:hover) .gimg ,
.tech:has(.aimg:hover) .dimg ,
.tech:has(.aimg:hover) .fimg{
  opacity: 0.4;
  transform: scale(0.8); 
  filter: blur(3px);
}





.tech {
  
  align-self: right;
  align-items: space-between;
  



}

.one,
.two,
.three {
  border-radius: 4px;
  font-size: 20px;
  background-color: black;
  margin: 20px;
  color: azure;
  border: none;
  padding-right: 20px;
}

.one:hover,
.two:hover,
.three:hover {
  color: aqua;
  text-decoration: solid;
  cursor: pointer;

  transform: scale(1.1);



}

.canvas {
  background-color: aqua;
  margin-right: 0px;
  position: absolute;


}

.home-content {
  display: grid;
  grid-template-columns: 700px 400px;
  flex-grow: unset;
  flex-shrink: unset;
  column-gap: 100px;
  justify-content: space-between;

}

.home {
  margin-top: 300px;
  margin-left: 150px;
  align-items: center;
  color: azure;
  display: flex;
}

span {
  color: aqua;
  font-size: 45px;
}

.okayy {
  margin-top: 300px;
  height: 50px;
  background: none;

}

.okay {
  font-size: 35px;
  font-weight: 600;
  color: aqua;
  margin-left: 950px;
  margin-bottom: 0;
}

h1 {
  font-size: 56px;
  -webkit-text-stroke: 1px rgb(253, 250, 251);
  color: black;
}

h3 {
  font-size: 34px;

}

.b1 {
  font-size: 30px;

}

.okayyy {
  margin-left: 10px;
  font-size: 35px;
  font-weight: 600;
  padding-top: 0px;
  margin-top: 2px;
  color: aqua;
  
  margin-bottom: 0;

}
.okayy:hover{
  filter: hue-rotate(35);
}

.about {
  margin-left: 10px;
  color: azure;
  font-size: 30px;
}

.b {
  height: 40px;
  width: 120px;
  align-self: center;
  margin-left: 100px;
  border-radius: 15px;
  color: azure;
  background-color: black;
  font-size: 20px;
  font-weight: 900;
  border: none;
}

.b:hover {
  color: black;
  background-color: azure;

  cursor: pointer;
}

.k {
  background-color: black;
  border-radius: 5px;
  border: 2px solid gray;
  margin-top: 0px;
  padding-top: 0px;
  perspective: 1000px; /* Add perspective for 3D effect */
  transition: transform 0.3s ease;
}

.k:hover {
  transform: rotateX(5deg) rotateY(5deg); /* Rotate the content on hover */
  transition: transform 0.3s ease; /* Trigger animation on hover */
}

#blob{
  background-color: white;
  height: 300px;
  aspect-ratio: 1;position: absolute;
  z-index: -19000;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(
    to right , 
    green ,
    purple
  );
}

.contactme {
  align-items: center;
  align-self: center;
  align-content: center;
  margin-bottom: 0px;
  margin-top: 60px;
 margin-left: 1200px;
  background-color: transparent;
  height: 40px;
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px;
  column-gap: 30px;
  padding-bottom: 120px;
  margin-bottom: 80px;

}
.wrapper{
  color: white;
  padding-top: 0;
  margin-top: 0;
  justify-content: center;
  font-size: 90px;
}

.kk {
  padding: 0px;
 
  
  background-color: azure;
  border-radius: 3px;
 
  margin-right: 0px;
}

.kk:hover {
  transform: scale(1.2);
  
  cursor: pointer;
}

.ko {
  background-color: transparent;
  border: none;
  color: azure;
  margin-left: -80px;
  font-size: 24px;
  font-weight: 600;


}

.ck{
  font-family: 'Outfit', 'Helvetica Neue';
  background: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-image: radial-gradient(
    circle closest-side at var(--x, 30%) var(--y, 30%),
    #1250aa 0%,
    pink 0%,
    transparent calc(var(--r, 5px) - 5px)
  );
  display: flex;
 
}

.contact-left{
  display: flex;
  flex-direction: column;
  align-items: column;
  gap: 20px;
}

.clt h2{
  font-weight: 600;
  color: white;
  font-size: 40px;
  margin-bottom: 5px;

}

.clt hr{

  border: none;
  width: 420px;
  height: 5px;
  background-color: rgb(18, 79, 79);
  border-radius: 10px;
  margin-bottom: 20px;

}

.contact-input{
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: #666;
  border-radius: 50px;

}
.contact-left textarea{
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}
.contact-input:focus{
  border: 2px solid black;
}
.contact-input::placeholder{
  color: #a9a9a9;

}
.contact-left button{
  display: flex;
  width: 150px;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  gap: 10px;
  border: none;
  color: #fff;
  background: linear-gradient(270deg, rgb(196, 176, 25) , rgb(128, 34, 174));
  cursor: pointer;
  border-radius: 50px;
}

contact-right img{
  width: 500px;
}




/*var typed = new Typed(" .multiple-text" , {
  strings:["Frontend Developer" , "Freelancer" ,
  "Coder" , "UI/UX Developer" ,"Content writer"] ,
  typeSpeed: 70 ,
  backSpeed: 50 ,
  backDelay: 1000 ,
  loop: true})           
  things to be added
  skill section update -- react , solidity , vercel , netlify ,tailwind ,python , fastapi , vite aws , framer 
  project section update
  resume add on 
  gradient on hover around name
  */